/*Body Style */
body {
  padding-top: 1em;
  padding-bottom: 5em;
  padding-left: 35em;
  padding-right: 4em;
  font-family: calibri light;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  color: rgb(255, 255, 255);
  background-color: #202022 
}

p {
  font-size: 1.1em;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  margin-left:-40px ;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Links */
a:link {
  color: rgb(255, 255, 255) }
a:visited {
  color: rgb(255, 255, 255) }

/* Heading Style */
h1 {
  font-family: calibri light;
  font-size: 2em;
}

/* Heading Underline */
#underline {
  width: 5em;
  position: relative;
  border-bottom: thin solid rgb(231, 80, 10);
}

/* Decorative Side Line */
.sideline1 {
  height: 35%;
  width: 2%;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: #20202200;
  overflow-x: hidden;
  border-left: thin solid rgb(231, 80, 10); 
}

/* Decorative Side Line */
.sideline2 {
  height: 65%;
  width: 2%;
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  background-color: #20202200;
  overflow-x: hidden;
  border-left: thin dashed #39393b;
  
}


/* The sidebar menu */
.orange {
  height: 100%;
  width: 30em;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  background-color: rgb(231, 80, 10);
  overflow-x: hidden;
  
}
 .sidenav {
  height: 100%;
  width: 30em;
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 0;
  background-color: rgba(231, 80, 10, 0);
  overflow-x: hidden;
  
}

/* Nav Links */
.sidenav a {
  text-align: right;
  padding-right: 2vw;
  padding-top: 2em;
  text-decoration: none;
  font-size: 1.3em;
  letter-spacing: 0.2em;
  color: #ffffff;
  display: block;
}

/* Hover Colour */
.sidenav a:hover {
  color: #000000;
}

/* Sidebar Image */
.imgside {
  width: 30em;
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
}

.imgsideback {
  height: 100%;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: -20em;
  opacity: 0.6;
}


.imgbody {
  height: 100%;
  position: fixed;
  z-index: -2;
  top: -5em;
  right: -1em;
  opacity: 0.15;
}

/* The bottom bar */
.bottombar {
  height: 5em;
  width: 100%;
  padding-top: 1em;
  padding-left: 14%;
  position: fixed;
  z-index: 0;
  bottom: 0;
  left:0;
  right:0;
  border-top: thin solid #39393b;
  background-color: #2a2a2c;
  overflow-x: hidden;
  overflow-y: hidden;
}

 /* Bottom bar text*/
.bottombar a {
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  display: block;
}
.bottombar b {
  padding-top: 1%;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 0.2em;
  color:  rgb(231, 80, 10);
  display: block;
}

/*Table Styling */
table {
  width: 97%;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
  border-top: 1px solid rgb(231, 80, 10);
  border-bottom: 1px solid rgb(231, 80, 10);
}

td, th {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 3%;
  padding-left: 2%;
  background-color: rgba(235, 235, 235, 0);
  text-align: center;
}

a:link {
  color: rgb(255, 255, 255) }
a:visited {
  color: rgb(255, 255, 255) }
