/*Body Style */
body {
  font-family: calibri light;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  color: rgb(0, 0, 0);
}

/* Heading Style */
h1 {
  font-family: calibri light;
  font-size: 2em;
  color: rgb(0, 46, 93)
}

/* Heading Underline */
#underline {
  width: 5em;
  position: relative;
  border-bottom: thin solid rgb(198, 180, 156);
}

/* The sidebar menu */
.topnav {
  overflow: hidden;
  background-color: rgb(33, 43, 81);
}

.topnav a {
  float: right;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  padding: 15px 15px;
  font-size: 17px;
}

.topnav a:hover {
  color: rgb(157, 167, 204);
}

.topnav a.active {
  font-weight: bold;
}
